<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.p">
        <title>Document</title>
        <link rel="stylesheet" href="../styles.css">
        
        <style>
        #logg{
        font-size: 25px;
        list-style-type: none;
        text-align: right;
        position: relative;
        right: 50px;
        top: 81px;
        }
        #signn{
        font-size: 25px;
        list-style-type: none;
        text-align: right;
        position: relative;
        right: -1100px;
        top: 53px;
        }
        
    
        </style>


        
        
        
    </head>
    <body>
        <div id="top">
        
        
        
            <p id="link"><a href="/">FCPG Inc</a></p>
            <p id="link2"> <a href="/staff">Staff</a></p>
            <p id="link3"> <a href="/calendar">Calendar</a></p>
            <p id="link4"> <a href="/resources">Resources</a></p>
            <h1 id="header"> Welcome to Fairmont <br>Community Partnership <br>Group, Inc. </h1>
      
         </div>
         
          <ul>
            <% if (user) { %>
                <!--Handled in the controller and routes-->
                <li><a href="/user">User Page</a></li>
                <li><a href="/logout">Log Out</a></li>
                <!--Greet the current user if there is one-->
                <h2>Hello, <%= user.firstName %>!</h2>
            <% } else { %>
                <li id=logg><a href="/login">Log In</a></li>
                <li id=signn><a href="/signup">Sign Up</a></li>
            <% } %>
        </ul>

      

    </body>
    <script>
    </script>
</html>
