h1 {
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    
    #top{
        margin: -8px;
        padding-top: 30px;
        padding-bottom: 40px;
        background-color: #b6b0b0;
        
    }
    #header{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align:center;
        font-size: 80px;
        position: relative;
        top: -100px;
        
    }
    #link{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: relative;
        left: 50px;
    }
    #link2{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: relative;
        left: 1300px;
        top: -53px;
    }
    #link3{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: relative;
        left: 1385px;
        top: -106px;
    }
    #link4{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: relative;
        left: 1515px;
        top: -159px;
    }

    #logg{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: relative;
        left: 1515px;
        top: -159px;
    }

    #signn{
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: relative;
        left: 1515px;
        top: -159px;
    }

    #aboutme{
        text-align: Center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:blue;


    }

