<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>

    <style>
        
        body, form, h1, h2, p, table{
            background-color: rgb(182, 176, 176); margin-left: auto; margin-right: auto; text-align: Center;
            color: black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    </style>

    <head>
        
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Admin Accessable only</title>
        
    </head>
    <body>

        <Table>
            <th></th>
        </Table>

        

        <form class="form3">
            <button class="AdminCheck"> Are you an Admin? </button>
            <div name="bill" style="display: none;">
                Welcome Admin
            </div>
        </form>
    </body>

    <script>
    
    const form3 = document.querySelector('.form3')

        form3.addEventListener('submit', async (e) => {
            e.preventDefault();

            if (e.submitter.className == "AdminCheck"){
                console.log(user.userStatus);

                if (user.userStatus === 'Admin'){
                    form3.bill.style.display = "block"
                }
            }
        })
    </script>

</html>