<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>

    <style>
        
        body, form, h1, h2, p, table{
            background-color: rgb(182, 176, 176); margin-left: auto; margin-right: auto; text-align: Center;
            color: black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    </style>

    <head>
        
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Admin Accessable only</title>
        
    </head>
    <body>

        <Table>
            <th></th>
        </Table>

        <button class="AdminCheck"></button>
    </body>

    <script>
        form2.addEventListener('submit', async (e) => {

            if (e.submitter.className == AdminCheck){
                console.log("AdminCheck button pressed");
            }
        })
    </script>

</html>