<!DOCTYPE html>
<html lang='en'>
 <head>


   <!--Link the header to this page-->
   <%- include('partials/header'); -%>
   
   <link rel="stylesheet" href="cal.css">
   <div id="calendar"></div>
   <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">


   <script src="moment.js"></script><script>    
    moment().format();</script>
  
  <script type = "text/javascript" src="cal.js"></script>
   


    <title>Calendar Information</title>
    
    
  <style>
  body{
  transform: scale(1);
  transform-origin: 0 0;
  margin-right: 0px;}
  </style>

 </head>


<body>


 </body>


</html>

