<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
 
     <style>
        body {background-color: rgb(168, 159, 159);}
        h1 {color: rgb(0, 0, 0);}
        p {color: rgb(0, 0, 0);}
        p {text-align: Center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        </style>
 
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Capstone Home</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>

   
    <h1>About The Fairmont Community</h1>

  

    <p id="aboutme"> The Fairmont Community Group Inc. is dedicated to improving the lives of the people who
      have decided to live in the Fairmont residential area.<br>This page is dedicated to showing the work
      Lewis University students have put into covering Fairmont events during their Community News and Information
      Class in the Fall of 2022. test
    </p>

    <p><img src="fairmontphoto.jpg" alt="Community"></p>


 </body>
</html>
