<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capstone Home</title>
 </head>
 <body>
    <h1>Capstone Home Page!</h1>

    <!--Links to sign in log in or log out-->
    <ul>
      <!--Use embedded JS to show content whether a user is logged in or not-->
      <% if (user) { %>
         <!--Handled in the controller and routes-->
         <li><a href="/logout">Log Out</a></li>
         <li><a href="/user">User Page</a></li>
         <!--Greet the current user if there is one-->
         <h2>Welcome, <%= user.email %></h2>
      <% } else { %>
         <li><a href="/login">Log In</a></li>
         <li><a href="/signup">Sign Up</a></li>
      <% } %>
    </ul>

 </body>
</html>