<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
 
  <style>
        body {background-color: rgb(168, 159, 159);}
        h1 {color: rgb(0, 0, 0);
        font-size: 60px;}
        p {color: rgb(0, 0, 0);}
        p {text-align: Center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;}

        img {
        width: 1000px;
        height: 400px;
        padding: 50px;}
        </style>
 
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Capstone Home</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>

   
    <h1>About The Fairmont Community</h1>

  

    <p id="aboutme"> The Fairmont Community Group Inc. is dedicated to improving the lives of the people who
      have decided to live in the Fairmont residential area.<br>This page is dedicated to showing the work
      Lewis University students have put into covering Fairmont events during their <brCommunity News and Information
      Class in the Fall of 2022.
    </p>

<p><br>
<br>
<br>
<br></p>
    <p><img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/315540504_200565612340013_3794309257205100082_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=e3f864&_nc_ohc=5xSuyvgS6EEAX-bfI8-&_nc_ht=scontent-ord5-2.xx&oh=00_AfD67cID0c9pduNwbo-THCJd61JmaWvIgsiH8pB4wCM32Q&oe=63985838" alt="Community"></p>


 </body>
</html>
