<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capstone Home</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>

    <h1>Capstone Home Page!</h1>

    <!--Links to sign in log in or log out-->
    <ul>
      <!--Use embedded JS to show content whether a user is logged in or not-->
      
      
      
    </ul>

 </body>
</html>