<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Capstone Home</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>

    <h1>Capstone Home Page!</h1>

  

    <p> Where Other Info Will Go</p>

 </body>
</html>