<!--Staff Info HTML page using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="styles.css">-->
    <title>Staff Information</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>

    <h1>Resource Information</h1>

 </body>
 <script>

    

 </script>
</html>