<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capstone User Page</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>
   
    <h1>Capstone User Page!</h1>

    <!--Show the status of the current user whether they are a worker or a customer-->
    <h2>Status: <%= user.userStatus %></h2>

    <!--if user.userStatus === 'worker' allow them to add skills to their profile-->
    <% if (user.userStatus === 'worker') { %>
         <h1>Skills</h1>
    <% } %>

 </body>

 <!--JavaScript for the profile page-->
 <script>

 </script>
</html>