<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capstone User Page</title>
 </head>
 <body>
   <!--Link the header to this page-->
   <%- include('partials/header'); -%>
   
    <h1>Capstone User Page!</h1>

    <!--Show the status of the current user whether they are a worker or a customer-->
    <h2>Status: <%= user.userStatus %></h2>

    <!--if user.userStatus === 'worker' allow them to add skills to their profile-->
    <% if (user.userStatus === 'worker') { %>
         <!--Label and text box for adding a skill-->
         <label for="skillText">Add a Skill</label>
         <input type="text" name="skillText" id="skillText" />
         <!--Button to click to add a skill in the text box-->
         <button id="addSkill">Add</button>

         <!--Header for skills and area that includes all of them-->
         <h1>Skills</h1>

         <!--List of skills the user will give and have saved to their profile-->
         <ul id="skillList">
         <!--If the skill list in the database isn't empty, list those skills in it first-->
         <% if (user.userSkills.length != 0) { %>
               <% for(var i=0; i<user.userSkills.length; i++) {%>
                  <li id="userSkill"><%= user.userSkills[i] %></li>
               <% } %>
         <% } %>
         </ul>

    <% } %>

   <!--Hidden element to be able to access the current user email outside of the html-->
   <p id="currentUser" hidden><%= user.email %></p>

 </body>

 <!--JavaScript for the profile page-->
 <script>

   //Let the skill variable initially be empty
   var skill = ''

   //Variable to represent the list of skills in html
   var skillList = document.getElementById('skillList')

   //Variable that represents the button to add a skill
   let button = document.getElementById('addSkill')

   //When the add skill button is clicked we need to add the skill to the screen and to the userSkills array
   button.addEventListener('click', async (e) => {    

      var userEmail = document.getElementById("currentUser").innerText

      e.preventDefault(); //Prevents refresh from happening (so it will be added to the screen without refreshing)

      //Get the entered skill
      skill = document.getElementById("skillText").value 
      //skill += "\n"
      //alert(skill) TEST TO SEE IF THE SKILL VARIABLE IS UPDATING WITHOUT REFRESHING SCREEN; WORKS!!

      //Now add the skill that the user entered to the screen, NEED THE TEXT
      skillList.innerHTML += '<li>'+skill+'</li>'

      
      //NEXT STEP: ADD CODE FOR SAVING AN ADDED SKILL TO THE userSkills ATTRIBUTE IN THE DATABASE FOR THE CURRENT USER!!
      //Need to use encodeURIComponent(password) in order to send special chracters over to the server side
      const saving = await fetch('/save-skill?skill='+encodeURIComponent(skill)+'&email='+encodeURIComponent(userEmail))
      const responseText = await saving.text()
      
   })
 </script>
</html>